/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --color-naan-red: #AE0000;
  --color-naan-grey: #D9D9D9;
  --color-naan-details: #D78080;
}
