body {
  background-image: url("https://i.pinimg.com/originals/50/ea/6f/50ea6f333adf5baf1b1984d3d90420a5.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
